<div class="container">
  <div fxLayout="column" fxLayoutAlign="center center" class="content mat-typography">


    <mat-card class="form-card">
      <h1 class="tagline">RSVP</h1>
      <mat-card-subtitle class="subtitle">
        <h2>
          <i>Please respond by May 1st, 2018</i>
        </h2>
      </mat-card-subtitle>
      <form class="form" [formGroup]="rsvpForm" novalidate (ngSubmit)="onSubmit()">

        <table class="form-item" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="form-item">
                <input matInput placeholder="First Name" type="text" id="name" required formControlName="name">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="form-item">
                <input matInput placeholder="Last Name" type="text" id="surname" required formControlName="surname">
              </mat-form-field>
            </td>
          </tr>
        </table>

        <p>
          <mat-radio-group formControlName="coming" id="coming">
            <mat-radio-button color="primary" name="coming" [value]=true>Will Attend</mat-radio-button>
            <mat-radio-button color="primary" name="coming" [value]=false>Unable to Attend</mat-radio-button>
          </mat-radio-group>
        </p>

        <p>
          <mat-form-field class="form-item">
            <label for="guests">Number of guests attending:&nbsp;</label>
            <input matInput type="number" id="guests" required formControlName="guests">
          </mat-form-field>
        </p>

        <h2 class="section-header">Dietary Information</h2>
        <p>
          <mat-checkbox color="primary" type="checkbox" formControlName="vegetarian">
            Vegetarian
          </mat-checkbox>
        </p>
        <p>
          <mat-checkbox color="primary" type="checkbox" formControlName="nonalcohol">
            Non-Alcohol
          </mat-checkbox>
        </p>

        <mat-card-actions>
          <button mat-raised-button class="button-sm" [disabled]="rsvpForm.invalid || sending" type="submit">SUBMIT</button>
          <a mat-raised-button class="button-sm" href="/">RETURN</a>
        </mat-card-actions>
      </form>
    </mat-card>

  </div>
</div>